<br>

<form class="form" action="thank-you" netlify>

  <fieldset class="form-group">
    <label for="email">email:</label>
    <input id="email" type="email" placeholder="" class="form-control">
  </fieldset>
  <fieldset class="form-group form-textarea">
    <label for="message">message:</label>
    <textarea id="message" rows="5" class="form-control"></textarea>
  </fieldset>
  <div class="form-actions">
    <button type="button" class="btn btn-default btn-ghost"> (*☻-☻*)</button>
  </div>
</form>
